In [88]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [89]:
nums = pd.read_csv("../data/var_num.csv", index_col=0)
cats = pd.read_csv("../data/data_categorielles (1).csv", index_col=0)
data_init = pd.read_csv("../data/application_train_vf.csv", index_col=0)

In [90]:
cats.head()

,TARGET,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_HOUSING_TYPE,NAME_INCOME_TYPE_discret,NAME_EDUCATION_TYPE_discret,NAME_FAMILY_STATUS_discret
0,0,333721,Cash loans,M,Y,Y,House / apartment,high_income,lower,couple
1,0,250254,Cash loans,F,N,Y,With parents,high_income,higher,couple
2,0,265071,Cash loans,F,Y,N,House / apartment,high_income,lower,couple
3,0,227569,Cash loans,F,Y,Y,House / apartment,high_income,lower,alone
4,0,212616,Cash loans,F,N,N,House / apartment,high_income,lower,alone

In [91]:
nums.insert(0, "SK_ID_CURR", data_init["SK_ID_CURR"])

In [92]:
data = nums.merge(cats, on="SK_ID_CURR")

In [93]:
data_init

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,date_mensuelle
0,333721,0,Cash loans,M,Y,Y,1,292500.0,1102500.0,32364.0,1102500.0,Family,Working,Secondary / secondary special,Married,House / apartment,0.018209,-11763,-688,-500.0,-3325,9.0,1,1,0,1,1,0,Drivers,3.0,3,3,THURSDAY,9,0,0,0,0,0,0,Transport: type 3,NaN,0.616187,0.651260,0.2938,0.1995,0.9891,NaN,NaN,0.28,0.2414,0.3750,NaN,0.1346,NaN,0.0645,NaN,0.0028,0.2994,0.2070,0.9891,NaN,NaN,0.2820,0.2414,0.3750,NaN,0.1377,NaN,0.0672,NaN,0.0030,0.2967,0.1995,0.9891,NaN,NaN,0.28,0.2414,0.3750,NaN,0.1370,NaN,0.0656,NaN,0.0029,NaN,block of flats,0.2379,Panel,No,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2013-01-01
1,250254,0,Cash loans,F,N,Y,0,180000.0,270000.0,10179.0,270000.0,Unaccompanied,Working,Higher education,Married,With parents,0.003122,-12460,-2988,-1576.0,-454,NaN,1,1,0,1,1,0,High skill tech staff,2.0,3,3,THURSDAY,10,0,0,0,0,0,0,University,NaN,0.548623,0.413597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-17.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,5.0,2013-01-01
2,265071,0,Cash loans,F,Y,N,2,67500.0,80865.0,7546.5,67500.0,Children,Working,Secondary / secondary special,Married,House / apartment,0.018634,-11118,-907,-10654.0,-425,9.0,1,1,1,1,0,0,Laborers,4.0,2,2,MONDAY,10,0,0,0,0,0,0,Government,0.282297,0.582081,0.399676,0.1237,0.0493,0.9861,NaN,NaN,0.00,0.2759,0.1667,NaN,0.0678,NaN,0.1103,NaN,0.0000,0.1261,0.0511,0.9861,NaN,NaN,0.0000,0.2759,0.1667,NaN,0.0694,NaN,0.1149,NaN,0.0000,0.1249,0.0493,0.9861,NaN,NaN,0.00,0.2759,0.1667,NaN,0.0690,NaN,0.1123,NaN,0.0000,NaN,block of flats,0.1210,"Stone, brick",No,0.0,0.0,0.0,0.0,-358.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2013-01-01
3,227569,0,Cash loans,F,Y,Y,1,157500.0,1078200.0,38331.0,900000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.072508,-14776,-1677,-8387.0,-4811,64.0,1,1,0,1,0,0,Sales staff,2.0,1,1,WEDNESDAY,10,0,0,0,0,0,0,Self-employed,0.176785,0.607885,0.627991,0.0619,0.0610,0.9752,0.6600,0.0000,0.00,0.1034,0.1667,0.2083,0.0000,0.0504,0.0505,0.0000,0.0000,0.0630,0.0624,0.9752,0.6733,0.0000,0.0000,0.1034,0.1667,0.2083,0.0000,0.0551,0.0517,0.0,0.0000,0.0625,0.0610,0.9752,0.6645,0.0000,0.00,0.1034,0.1667,0.2083,0.0000,0.0513,0.0514,0.0000,0.0000,reg oper account,block of flats,0.0390,Block,No,0.0,0.0,0.0,0.0,-375.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2013-01-01
4,212616,0,Cash loans,F,N,N,1,112500.0,225000.0,15165.0,225000.0,Children,Working,Secondary / secondary special,Civil marriage,House / apartment,0.004849,-14918,-140,-2716.0,-4119,NaN,1,1,0,1,1,0,Sales staff,3.0,2,2,WEDNESDAY,15,1,1,0,1,1,1,Industry: type 3,NaN,0.091309,0.463275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2557.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0,2013-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306102,150198,0,Cash loans,F,N,N,0,148500.0,669600.0,32341.5,598500.0,"Spouse, partner",Pensioner,Secondary / secondary special,Married,House / apartment,0.020246,-19046,365243,-296.0,-2602,NaN,1,0,0,1,0,0,NaN,2.0,3,3,SATURDAY,8,0,0,0,0,0,0,XNA,0.427680,0.068494,0.722393,0.0825,0.0000,0.9747,0.6532,0.0092,0.00,0.1379,0.1667,0.0417,0.0140,0.0672,0.0630,0.0000,0.0000,0.0840,0.0000,0.9747,0.6668,0.0092,0.0000,0.1379,0.1667,0.0417,0.0144,0.0735,0.0657,0.0,0.0000,0.0833,0.0000,0.9747,0.6578,0.0092,0.00,0.1379,0.1667,0.0417,0.0143,0.0684,0.0642,0.0000,0.0000,reg oper account,block of flats,0.0546,"Stone, brick",No,1.0,0.0,1.0,0.0,-2058.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-01
306103,377351,0,Cash loans,F,N,Y,0,90000.0,312768.0,22374.0,270000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.035792,-16483,-2692,-1728.0,-24,NaN,1,1,0,1,0,0,Cooking staff,1.0,2,2,SATURDAY,12,0,0,0,0,1,1,Industry: type 4,NaN,0.661632,0.824595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1683.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0,2020-12-01
306104,365430,0,Cash loans,F,N,Y,0,157500.0,1724220.0,45612.0,1350000.0,Family,Commercial associate,Incomplete higher,Married,House / apartment,0.072508,-16588,-1103,-1203.0,-110,NaN,1,1,0,1,1,0,NaN,2.0,1,1,MONDAY,15,0,0,0,0,0,0,Business Entity Type 3,NaN,0.740452,NaN,0.1155,0.0672,0.9776,0.6940,0.0422,0.12,0.0862,0.3958,0.4375,0.1089,0.0929,0.0691,0.0058,0.0356,0.0840,0.0396,0.9777,0.7060,0.0242,0.0806,0.0345,0.3333,0.3750,0.1041,0.0707,0.0455,0.0,0.0013,0.1166,0.0672,0.9776,0.6981,0.0425,0.12,0.0862,0.3958,0.4375,0.1108,0.0945,0.0704,0.0058,0.0363,reg oper spec account,block of flats,0.0538,Panel,No,0.0,0.0,0.0,0.0,-393.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-01
306105,342888,0,Cash loans,M,N,Y,0,63000.0,177768.0,9216.0,135000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.007305,-22578,365243,-4293.0,-4319,NaN,1,0,0,1,0,0,NaN,2.0,3,3,WEDNESDAY,8,0,0,0,1,0,0,XNA,NaN,0.231137,0.410103,NaN,NaN,0.9697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0020,NaN,NaN,NaN,NaN,0.9697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0020,NaN,NaN,NaN,NaN,0.9697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0020,NaN,NaN,NaN,block of flats,0.0024,NaN,No,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,2020-12-01
306106,313239,1,Cash loans,M,N,N,2,135000.0,592560.0,32274.0,450000.0,Other_B,Working,Secondary / secondary special,Married,House / apartment,0.035792,-13865,-530,-2816.0,-2817,NaN,1,1,1,1,0,0,Laborers,4.0,2,2,MONDAY,13,0,0,0,0,1,1,Business Entity Type 3,NaN,0.687455,0.157595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-16.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,2020-12-01

In [94]:
data

,SK_ID_CURR,DAYS_BIRTH_disc_int,EXT_SOURCE_2_disc_int,AMT_GOODS_PRICE_disc_int,REGION_POPULATION_RELATIVE_disc_int,DAYS_EMPLOYED_disc_int,DAYS_REGISTRATION_disc_int,EXT_SOURCE_3_disc_int,AMT_CREDIT_disc_int,AMT_ANNUITY_disc_int,REGION_RATING_CLIENT_W_CITY,REGION_RATING_CLIENT,FLAG_PHONE,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,FLAG_EMP_PHONE,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_HOUSING_TYPE,NAME_INCOME_TYPE_discret,NAME_EDUCATION_TYPE_discret,NAME_FAMILY_STATUS_discret
0,333721,[-13537--7489],[0.48-0.85],[679500.0-4050000.0],[0.0-0.03],[-2443-365243],[-6170.0-0.0],[0.32-0.9],[675000.0-4050000.0],[1615.5-43794.0],3,3,1,0,0,0,1,0,Cash loans,M,Y,Y,House / apartment,high_income,lower,couple
1,250254,[-13537--7489],[0.48-0.85],[40500.0-676278.0],[0.0-0.03],[-17912--2444],[-6170.0-0.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],3,3,1,0,0,0,1,0,Cash loans,F,N,Y,With parents,high_income,higher,couple
2,265071,[-13537--7489],[0.48-0.85],[40500.0-676278.0],[0.0-0.03],[-2443-365243],[-24672.0--6171.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],2,2,0,0,0,0,1,0,Cash loans,F,Y,N,House / apartment,high_income,lower,couple
3,227569,[-19303--13538],[0.48-0.85],[679500.0-4050000.0],[0.03-0.07],[-2443-365243],[-24672.0--6171.0],[0.32-0.9],[675000.0-4050000.0],[1615.5-43794.0],1,1,0,0,0,0,1,0,Cash loans,F,Y,Y,House / apartment,high_income,lower,alone
4,212616,[-19303--13538],[0.0-0.15],[40500.0-676278.0],[0.0-0.03],[-2443-365243],[-6170.0-0.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],2,2,1,1,1,1,1,0,Cash loans,F,N,N,House / apartment,high_income,lower,alone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306102,150198,[-19303--13538],[0.0-0.15],[40500.0-676278.0],[0.0-0.03],[-2443-365243],[-6170.0-0.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],3,3,0,0,0,0,0,0,Cash loans,F,N,N,House / apartment,low_income,lower,couple
306103,377351,[-19303--13538],[0.48-0.85],[40500.0-676278.0],[0.03-0.07],[-17912--2444],[-6170.0-0.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],2,2,0,1,0,1,1,0,Cash loans,F,N,Y,House / apartment,high_income,lower,alone
306104,365430,[-19303--13538],[0.48-0.85],[679500.0-4050000.0],[0.03-0.07],[-2443-365243],[-6170.0-0.0],[0.32-0.9],[675000.0-4050000.0],[43803.0-258025.5],1,1,1,0,0,0,1,0,Cash loans,F,N,Y,House / apartment,high_income,lower,couple
306105,342888,[-25229--19304],[0.15-0.48],[40500.0-676278.0],[0.0-0.03],[-2443-365243],[-6170.0-0.0],[0.32-0.9],[45000.0-674842.5],[1615.5-43794.0],3,3,0,0,1,0,0,0,Cash loans,M,N,Y,House / apartment,low_income,lower,alone
306106,313239,[-19303--13538],[0.48-0.85],[40500.0-676278.0],[0.03-0.07],[-2443-365243],[-6170.0-0.0],[0.0-0.32],[45000.0-674842.5],[1615.5-43794.0],2,2,0,1,0,1,1,1,Cash loans,M,N,N,House / apartment,high_income,lower,couple

In [95]:
cols = ['TARGET'] + [col for col in data.columns if col != 'TARGET']

In [96]:
data = data[cols]

In [97]:
pd.set_option('display.max_columns', None)
data.head()

nums = ["TARGET", "SK_ID_CURR","REGION_RATING_CLIENT_W_CITY", "REGION_RATING_CLIENT","FLAG_PHONE", "LIVE_CITY_NOT_WORK_CITY",
 "REG_CITY_NOT_LIVE_CITY", "REG_CITY_NOT_WORK_CITY", "FLAG_EMP_PHONE"]

In [98]:
data[nums] = data[nums].astype(int)

In [99]:
le = LabelEncoder()
for col in data.select_dtypes("object").columns.tolist():
    data[col] = le.fit_transform(data[col])
    
data.head()

,TARGET,SK_ID_CURR,DAYS_BIRTH_disc_int,EXT_SOURCE_2_disc_int,AMT_GOODS_PRICE_disc_int,REGION_POPULATION_RELATIVE_disc_int,DAYS_EMPLOYED_disc_int,DAYS_REGISTRATION_disc_int,EXT_SOURCE_3_disc_int,AMT_CREDIT_disc_int,AMT_ANNUITY_disc_int,REGION_RATING_CLIENT_W_CITY,REGION_RATING_CLIENT,FLAG_PHONE,LIVE_CITY_NOT_WORK_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,FLAG_EMP_PHONE,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_HOUSING_TYPE,NAME_INCOME_TYPE_discret,NAME_EDUCATION_TYPE_discret,NAME_FAMILY_STATUS_discret
0,0,333721,0,2,1,0,1,1,1,1,0,3,3,1,0,0,0,1,0,1,1,1,1,0,1,1
1,0,250254,0,2,0,0,0,1,1,0,0,3,3,1,0,0,0,1,0,0,0,1,5,0,0,1
2,0,265071,0,2,0,0,1,0,1,0,0,2,2,0,0,0,0,1,0,0,1,0,1,0,1,1
3,0,227569,1,2,1,1,1,0,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,0,1,0
4,0,212616,1,0,0,0,1,1,1,0,0,2,2,1,1,1,1,1,0,0,0,0,1,0,1,0

In [102]:
#data.insert(0, "TARGET", data_init["TARGET"])
data.insert(2, "date_mensuelle", data_init["date_mensuelle"])

In [103]:
data.columns

Index(['TARGET', 'SK_ID_CURR', 'date_mensuelle', 'DAYS_BIRTH_disc_int',
       'EXT_SOURCE_2_disc_int', 'AMT_GOODS_PRICE_disc_int',
       'REGION_POPULATION_RELATIVE_disc_int', 'DAYS_EMPLOYED_disc_int',
       'DAYS_REGISTRATION_disc_int', 'EXT_SOURCE_3_disc_int',
       'AMT_CREDIT_disc_int', 'AMT_ANNUITY_disc_int',
       'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'FLAG_PHONE',
       'LIVE_CITY_NOT_WORK_CITY', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'NAME_CONTRACT_TYPE',
       'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_HOUSING_TYPE',
       'NAME_INCOME_TYPE_discret', 'NAME_EDUCATION_TYPE_discret',
       'NAME_FAMILY_STATUS_discret'],
      dtype='object')

In [104]:
df_validation = data[data['date_mensuelle']>"2020-06-30"]

df = data[data['date_mensuelle']<"2019-12-31"]

In [113]:
import statsmodels.api as sm

# Fonction pour la sélection stepwise forward
def forward_selection(X, y, significance_level=0.05):
    initial_features = X.columns.tolist()
    best_features = []
    
    while len(initial_features) > 0:
        remaining_features = list(set(initial_features) - set(best_features))
        new_pval = pd.Series(index=remaining_features, dtype=float)
        
        for new_column in remaining_features:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[best_features + [new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        
        min_p_value = new_pval.min()
        if min_p_value < significance_level:
            best_features.append(new_pval.idxmin())
        else:
            break
    
    return best_features
X = data.drop(["TARGET", "date_mensuelle"], axis=1)
y=data["TARGET"]
selected_features = forward_selection(X, y)

In [119]:
from scipy.stats import chi2_contingency
vars_signif = []
for column in df[selected_features]:
    # Construire la table de contingence pour la variable actuelle et la variable cible
    contingency_table = pd.crosstab(df[column], df['TARGET'])
    
    # Effectuer le test du Chi2
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    if p <= 0.01: vars_signif.append(column)

In [105]:
# Sélectionner les données
X_train = data.copy() # On drop les var qui ont trop de NaN
X_test = df_validation.copy()

X_train = X_train.select_dtypes(exclude = 'datetime')
X_train.dropna(inplace = True)

y_train = X_train['TARGET']


X_train.drop(columns = 'TARGET', inplace = True)

X_test = X_test.select_dtypes(exclude = 'datetime')
X_test.dropna(inplace = True)

y_test = X_test['TARGET']

X_test.drop(columns = 'TARGET', inplace = True)

In [106]:
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings 
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, confusion_matrix, classification_report, accuracy_score

In [108]:
X_train.drop("date_mensuelle", axis=1, inplace=True)
X_test.drop("date_mensuelle", axis=1, inplace=True)